            ul {
                list-style-type: none;
                padding: 10px;
                margin: 20px;
            }
            
            li {
                display: inline;
                background-color: #add8e6;
                padding: 30px;
                margin: 10px;
                border: 2px solid blue;
            }
            
            #red:hover {
                background-color: red;
                cursor: pointer;
            }
            
            #green:hover {
                background-color: green;
                cursor: pointer;
            }
            
            #blue:hover {
                background-color: blue;
                cursor: pointer;
            }
            
            #yellow:hover {
                background-color: yellow;
                cursor: pointer;
            }
            
            section {
                padding: 30px;
            }
            
            .txt {
                font-weight: bold;
                font-size: 20px;
            }
            
            @media(max-width:998px) {
                html {
                    font-size: 55%;
                }
            }
            
            @media(max-width:768px) {
                html {
                    font-size: 45%;
                }
            }